{% extends 'base.html' %}

{% block title %}Your Notes{% endblock title %}

{% block notesactive %}active{% endblock notesactive %}

{% block body %}

<div class="container">
    <h4 class="mt-3">{{note.noteHeading}}</h4>
    <div><span class="text-muted mb-3">wrote on {{note.timeStamp}}</span></div>
    <p class="my-3">{{note.noteContent}}</p>
    {% if note.deadlineDate != None or note.deadlineTime != None %}
              <div class="mb-2"><small class="text-danger">Finish till
                  {% if note.deadlineDate != None%}{{note.deadlineDate}}{% endif %} {% if note.deadlineTime != None%} at
                  {{note.deadlineTime}}{% endif %}</small></div>
              {% endif %}
</div>

{% endblock body %}